<div class="newsletter-signup">
  <h4>Stay Updated</h4>
  <p>Subscribe to our newsletter for health tips and updates.</p>
  
  <form class="newsletter-form" method="POST" action="#" netlify>
    <div class="input-group mb-3">
      <input type="email" class="form-control" placeholder="Enter your email" name="email" required>
      <button class="btn btn-primary" type="submit">Subscribe</button>
    </div>
    
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="newsletter-consent" name="consent" required>
      <label class="form-check-label" for="newsletter-consent">
        I agree to receive newsletters and promotional emails
      </label>
    </div>
  </form>
</div>
