<div class="business-hours">
  <h4>Business Hours</h4>
  <div class="hours-list">
    {{ $hours := .Site.Params.hours }}
    {{ if .Params.office_hours }}
      {{ $hours = .Params.office_hours }}
    {{ end }}

    {{ if $hours }}
      {{ if $hours.monday }}
      <div class="hour-item">
        <span class="day">Monday:</span>
        <span class="time">{{ $hours.monday }}</span>
      </div>
      {{ end }}
      
      {{ if $hours.tuesday }}
      <div class="hour-item">
        <span class="day">Tuesday:</span>
        <span class="time">{{ $hours.tuesday }}</span>
      </div>
      {{ end }}
      
      {{ if $hours.wednesday }}
      <div class="hour-item">
        <span class="day">Wednesday:</span>
        <span class="time">{{ $hours.wednesday }}</span>
      </div>
      {{ end }}
      
      {{ if $hours.thursday }}
      <div class="hour-item">
        <span class="day">Thursday:</span>
        <span class="time">{{ $hours.thursday }}</span>
      </div>
      {{ end }}
      
      {{ if $hours.friday }}
      <div class="hour-item">
        <span class="day">Friday:</span>
        <span class="time">{{ $hours.friday }}</span>
      </div>
      {{ end }}
      
      {{ if $hours.saturday }}
      <div class="hour-item">
        <span class="day">Saturday:</span>
        <span class="time">{{ $hours.saturday }}</span>
      </div>
      {{ end }}
      
      {{ if $hours.sunday }}
      <div class="hour-item">
        <span class="day">Sunday:</span>
        <span class="time">{{ $hours.sunday }}</span>
      </div>
      {{ end }}
    {{ else }}
    <div class="hour-item">
      <span class="day">Monday - Friday:</span>
      <span class="time">9:00 AM - 6:00 PM</span>
    </div>
    <div class="hour-item">
      <span class="day">Saturday:</span>
      <span class="time">9:00 AM - 2:00 PM</span>
    </div>
    <div class="hour-item">
      <span class="day">Sunday:</span>
      <span class="time">Closed</span>
    </div>
    {{ end }}
  </div>
</div>
